<form id="email_signup" class="klaviyo_styling klaviyo_standard_embed_KxXW3C" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
  <input type="hidden" name="g" value="KxXW3C">

<input type="hidden" name="$fields" value="golf_interest,tennis_interest,fitness_interest"/>

  <div class="klaviyo_field_group">
    <label for="k_id_email">Newsletter Sign Up</label>
    <input type="email" value="" name="email" id="k_id_email" placeholder="Your email" />

  </div>

    <div class="klaviyo_field_group">
    <label for="k_id_interest">Interest</label>
    

    <label for="news-womens">Golf</label>​<input type="checkbox" name="golf_interest" id="golf_interest" value="Golf">
    <label for="news-womens">Tennis</label>​<input type="checkbox" name="tennis_interest" id="tennis_interest" value="Tennis">
    <label for="news-womens">Fitness</label>​<input type="checkbox" name="fitness_interest" id="fitness_interest" value="Fitness">

  </div>





  <div class="klaviyo_messages">
    <div class="success_message" style="display:none;"></div>
    <div class="error_message" style="display:none;"></div>
    </div>
  <div class="klaviyo_form_actions">
    <button type="submit" class="klaviyo_submit_button">Subscribe</button>
  </div>
</form>
<style type="text/css">
.klaviyo_styling.klaviyo_standard_embed_KxXW3C,
.klaviyo_condensed_styling.klaviyo_standard_embed_KxXW3C {
  font-family: inherit;
}.klaviyo_styling.klaviyo_standard_embed_KxXW3C label,
.klaviyo_condensed_styling.klaviyo_standard_embed_KxXW3C label {
  
}.klaviyo_styling.klaviyo_standard_embed_KxXW3C input[type=text],
.klaviyo_styling.klaviyo_standard_embed_KxXW3C input[type=email],
.klaviyo_condensed_styling.klaviyo_standard_embed_KxXW3C input[type=text],
.klaviyo_condensed_styling.klaviyo_standard_embed_KxXW3C input[type=email] {
  border-radius: undefined;
}.klaviyo_styling.klaviyo_standard_embed_KxXW3C .klaviyo_submit_button,
.klaviyo_condensed_styling.klaviyo_standard_embed_KxXW3C .klaviyo_submit_button {
  
  border-radius: undefined;
}.klaviyo_styling.klaviyo_standard_embed_KxXW3C .klaviyo_submit_button:hover,
.klaviyo_condensed_styling.klaviyo_standard_embed_KxXW3C .klaviyo_submit_button:hover {
  
}
</style>
<script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>
<script type="text/javascript">
  KlaviyoSubscribe.attachToForms('#email_signup', {
    hide_form_on_success: false,
    $source: 'Subscribe Page',
    //success_message: "Thank you for signing up! Your special offer is on its   way!"
  });
</script>

