/*
 Theme Name:   onepress-child
 Theme URI:    https://creative.hungenbach.de/
 Description:  My first child theme, based on onepress
 Author:       Markus Hungenbach
 Author URI:   https://creative.hungenbach.de/
 Template:     onepress
 Version:      1.0.0
 Tags:         black, green, white, light, dark, two-columns, three-columns, left-sidebar, right-sidebar, fixed-layout, responsive-layout, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready, accessibility-ready, responsive-layout, infinite-scroll, post-slider, design, food, journal, magazine, news, photography, portfolio, clean, contemporary, dark, elegant, modern, professional, sophisticated
 Text Domain:  onepress-child
*/

div#wpfm-main-wrapper div.navbar.navbar-default,div#wpfm-main-wrapper div.toolbar.pull-right {
    display: none;
}

/* hide post metha data like "posted by" and "posted on" */ 
.entry-meta .byline {display: none;}

.modal_box {padding:20px; border:1px solid #eee; }
.model-3d{ background-color: #000; width: 100%; height:350px; text-align:center;}
@media (max-width:991px) {
.model-3d {height:320px;}    
}
@media (max-width:767px) {
.modal_box {padding:15px;}     
.model-3d {height:300px;}    
}