/*
 Theme Name:   onepress-child
 Theme URI:    https://picture.hungenbach.de/
 Description:  My first child theme, based on onepress
 Author:       Markus Hungenbach
 Author URI:   https://picture.hungenbach.de/
 Template:     onepress
 Version:      1.0.0
 Tags:         black, green, white, light, dark, two-columns, three-columns, left-sidebar, right-sidebar, fixed-layout, responsive-layout, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready, accessibility-ready, responsive-layout, infinite-scroll, post-slider, design, food, journal, magazine, news, photography, portfolio, clean, contemporary, dark, elegant, modern, professional, sophisticated
 Text Domain:  onepress-child
*/

a.btn.btn-theme-primary.btn-lg, a.btn.btn-secondary-outline.btn-lg {
    display: none;
}

/*
* in registration magic WP-plugin hide the username & user image since its breaking the layout for long names
*/
span.rm-user-last-name {
	display : none;
}
div.rm-user-card { 
	display : none;
}