/** Checkbox design **/
.custom-control {line-height: 1.6;}
.custom-control-input:checked~.custom-control-label::before {
    border-color: #dd163b;
    background-color: #dd163b;
}


/*******Modal Logn/Register***********/
.modal_forms .modal-content{border-radius:0;}
.modal_forms .modal-body {padding:2rem;}


/***About us***/
.aboutSummary {background:url(../img/about/bg-pattern.jpg)}
.about_sec p{line-height: 1.5; color: #333; font-size: 1.1rem;}