.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}
.total-price{
	line-height: 2;
	text-transform: uppercase;
	font-weight: 600;
	padding: 0;
}
.total-price span{
	float: right;
}
.total-price p{
	margin-bottom: 0;
	padding: 12px 10px;
}
.due-payment{border-top: 1px solid #fff;}

.paymentMethod {
    position: relative;
	padding:0;
	margin-right: 15px;
}
.paymentMethod.active{border: 1px solid red}
.paymentMethod input {
    position: absolute;
    top: 8px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
	opacity: 0;
}