
/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/

#contact{
  padding: 60px 0;
}

.contact-info {
  margin-bottom: 50px;
  text-align: center;
}

.contact-info i {
  font-size: 48px;
  display: inline-block;
  margin-bottom: 10px;
  color: #f82249;
}

.contact-info address,
.contact-info p {
  margin-bottom: 0;
  color: #fff;
  line-height: 1.5;
}

.contact-info h3 {
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.contact-info a {
  color: #fff;
  text-decoration: none;
}

.contact-info a:hover {
  color: #b81e20;
}

.contact-info .contact-border{
	border-right: 1px solid rgba(75, 78, 111, 0.3686274509803922);
}
.contact-info .contact-border:last-child{
	border-right: 0;
}
.map{
	padding-bottom: 0;
	padding-top: 20px;
}
