@import url('https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i&display=swap');
/* Google Material icons */
@import "http://fonts.googleapis.com/icon?family=Material+Icons";

@import 'header.css';
@import 'footer.css';
@import 'front.css';
@import 'contact-us.css';
@import 'games.css';
@import 'game-listing.css';
@import 'profile-detail.css';
@import 'manage-profile.css';
@import 'rate-us.css';

body {background:#242741; color:#000; font-family: 'Arimo', sans-serif; font-weight:400; font-size:16px;}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Bebas Neue';	
	font-weight:700;
	    line-height: normal;
} 
h1{ font-size: 3rem;}
h2{	font-size: 2.3rem;}
h3{	font-size: 1.8rem;}
h4{	font-size: 1.6rem;}
h5{	font-size: 1.4rem;}
h6{	font-size: 1.3rem;}
.equal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.equal .item {
  display: flex;
  flex-direction: column;
}
:focus, .owl-nav button:focus, button:focus{
	outline: none;
}
summary {
    display: list-item;
    cursor: auto;
}
a{outline: none !important; color: #000;}
a, button{ -webkit-transition: all ease-in-out 0.15s; transition: all ease-in-out 0.15s;}
li {outline: none;}
p {line-height: 1.5;font-size: 1rem}
.btn{    line-height: normal;}
.owl-nav button:hover, .btn-red:hover {box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);}
.btn-light:not(:disabled):not(.disabled).active:focus, .btn-light:not(:disabled):not(.disabled):active:focus, .show>.btn-light.dropdown-toggle:focus{box-shadow: none}
::-webkit-scrollbar{height:12px;width:10px}
::-webkit-scrollbar-thumb{background:#ccc; -webkit-border-radius:10px}
::-webkit-scrollbar-corner{background:#130949;}
img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.carousel-control-prev i, .carousel-control-next i{ 
    color: #fff;
    font-size: 22px;
}
.carousel-control-prev, .carousel-control-next{ 
	width: 40px;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    background: #dd163b !important;
	opacity: 1 !important;
	}
.carousel-control-prev {
    left: 15px;
}
.carousel-control-next {
    right: 15px;
}
.carousel-control-prev:before {
    content: '';
    position: absolute;
    top: 0;
    left: -2px;
    bottom: 0;
    width: 10px;
    transform: skew(-7deg);
    background: #dd163b;
    transition: all .4s;
}
.carousel-control-next:after {
   content: '';
    position: absolute;
    top: 0;
    right: -2px;
    bottom: 0;
    width: 10px;
    transform: skew(7deg);
    background: #dd163b;
    transition: all .4s;
}

.calendar .days li.disable{
    cursor: default;
opacity: 0.5;
}
.calendar .days li.disable> div{
pointer-events: none;
    cursor: default;
}
.calendar .days li.disable:hover  .date, .calendar .days li.disable.active .date {
    color: #000;
    background: #fff;
    opacity: 0.5;
   cursor: no-drop;
}
/*
Common css
*/
.btn.focus, .btn:focus {
    outline: none;
    box-shadow: none;
}
.rounded{overflow: hidden;}
.bg-red{background: #dd163b;color: #fff; z-index: 0;transition: all ease-in-out 0.5s; -webkite-transition: all ease-in-out 0.5s; -moz-transition: all ease-in-out 0.5s;}
.bg-red:before{ 
content: ''; position: absolute; width: 20px; top: 0; right: -5px; bottom: 0; transform: skew(-10deg); background: #dd163b; z-index: -1;}
.title-bg {	background: rgba(221, 22, 59, 0.83);}
.bg-voilet { background: rgba(14, 4, 76, 0.9);color: #fff; position: relative; z-index: 0;}
.bg-voilet:before {
content: ''; position: absolute;width: 12px;top: 0;left: -7px;bottom: 0;transform: skew(5deg);background: rgba(14, 4, 76, 0.9);z-index: -1;}
.bg-voilet:after {
content: ''; position: absolute;width: 12px;top: 0;right: -7px;bottom: 0;transform: skew(-5deg); background: rgba(14, 4, 76, 0.9); z-index: -1;}
.btn-red {
background: #dd163b; color: #fff; border-radius: 0; position: relative; min-width: 100px;z-index: 0; margin: auto; text-align: center; border: 0; font-size: 1rem; text-transform: capitalize;max-width: max-content;transition: all ease-in-out 0.5s; -webkite-transition: all ease-in-out 0.5s; -moz-transition: all ease-in-out 0.5s;box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);}
.btn-red:before {
content: ''; position: absolute; width: 20px; top: 0; left: -4px; bottom: 0;transform: skew(10deg);background: #dd163b; z-index: -1;}
.btn-red:after {
content: ''; position: absolute; width: 20px;top: 0; right: -5px; bottom: 0; transform: skew(-10deg);background: #dd163b;z-index: -1;}
.btn-success{background: #28a745; color: #fff; border-radius: 0; position: relative; min-width: 100px;z-index: 0; margin: auto; text-align: center; border: 0; font-size: 1rem; text-transform: capitalize;max-width: max-content;transition: all ease-in-out 0.5s; -webkite-transition: all ease-in-out 0.5s; -moz-transition: all ease-in-out 0.5s;}
.btn-success:before {
content: ''; position: absolute; width: 20px; top: 0; left: -4px; bottom: 0;transform: skew(10deg);background: #28a745; z-index: -1;}
.btn-success:after {
content: ''; position: absolute; width: 20px;top: 0; right: -5px; bottom: 0; transform: skew(-10deg);background: #28a745;z-index: -1;}
.btn-success:hover{background: #28a745; }
.btn-lg{padding: 1rem 2rem;}
.btn-sm{padding: 0.7rem 1.5rem;}
.btn-red:hover{color: #fff;}
.text-title{position: relative;padding-bottom:10px; letter-spacing: 0.5px;}
.text-title:before{position: absolute;content: "";background: #fff;left: 0;right: 0;width: 60px;height: 2px;margin: 0 auto;bottom: 0;}
/* .title-bg:before, .title-bg:after { */
	/* content: '';  */
	/* background: rgba(221, 22, 59, 0.83); */
	/* position:absolute;  */
	/* width: 50px; */
	/* top:0; */
	/* bottom: 0; */
/* } */
/* .title-bg:before { */
	/* right: -35px; 	transform: skew(-3deg); 	-webkit-transform: skew(-3deg); } */
/* .title-bg:after {	left: -35px;		transform: skew(3deg);	-webkit-transform: skew(3deg);} */
/*--------------------------------------------------------------
 pattern-banner 
--------------------------------------------------------------*/
 
 .bg-pattern{ background: url(../img/icons/bg-blue.jpg); background-repeat: repeat; background-position: center;background-size: contain; height: 100%;width: 100%; float: left;}
 b, strong {
    font-weight: bolder !important;
}

/*
Common css end here
*/

/**owl navs**/
.owl-carousel .owl-nav.disabled{display: block;}
.owl-carousel .owl-nav i{color: #fff;font-size: 22px;}
.owl-carousel .owl-nav button { width: 35px; height: 45px; box-sizing: border-box; top: 40%; transform: translateY(-50%); -webkit-transform: translateY(-50%); position: absolute;    background: #dd163b !important;}
.owl-dots{margin: auto; text-align: center}
button.owl-dot {background: #ffffff !important; height: 10px; width: 10px; margin-top: 15px; margin-right: 15px !important; border-radius: 100%;    border: 0px !important;}
button.owl-dot.active { background: #dd163b !important;}
.owl-carousel .owl-nav button.owl-prev {left: -50px; text-indent: -5px;}
.owl-carousel .owl-nav button.owl-next {right: -50px;text-indent: 5px;}
@media (max-width: 1366px) {
.owl-carousel:hover .owl-nav.disabled {opacity: 1;}
.owl-carousel .owl-nav.disabled{display: block;opacity: 0; transition: all ease-in-out 0.5s; -webkite-transition: all ease-in-out 0.5s; -moz-transition: all ease-in-out 0.5s;}
.owl-carousel .owl-nav button.owl-prev {left: 0px;}
.owl-carousel .owl-nav button.owl-next {right: 0px;}


}
@media (min-width: 1400px){
/* .owl-carousel .owl-nav button.owl-prev {left: -50px;} */
/* .owl-carousel .owl-nav button.owl-next {right: -50px;} */
/**default css**/

}


.owl-carousel .owl-nav button.owl-prev:before {
    content: '';
    position: absolute;
    top: 0;
    left: -7px;
    bottom: 0;
    width: 12px;
    transform: skew(-10deg);
    background: #dd163b;
    transition: all .4s;
}

.owl-carousel .owl-nav button.owl-next:before {
    content: '';
    position: absolute;
    top: 0;
    right: -7px;
    bottom: 0;
    width: 12px;
    transform: skew(10deg);
    background: #dd163b;
    transition: all .4s;
}
.owl-carousel .owl-stage {display: flex;}
.owl-carousel .owl-item {display: flex;flex: 1 0 auto;}
.owl-carousel .caption {display: flex;flex: 1 0 auto;flex-direction: column;}
.owl-carousel .flex-text {flex-grow: 1}
/**End owl-nav CSS**/

.badge-danger {color: #fff; background-color: #000;}
.badge {
    display: inline-block;    padding: .5em .7rem;    font-size: 70%;    font-weight: 700;    line-height: 1;    text-align: center;    white-space:nowrap;    vertical-align: baseline;    border-radius: 0rem .5rem .5rem .5rem;}

/*---------------
form css
------------**/




#sendmessage {
  color: #f82249;
  border: 1px solid #f82249;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}


.error-message {
  color: #dc3545;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

.form-control, select{
  padding: 5px 10px;
  min-height: 42px;
  border-radius: 0;
  box-shadow: none;
  font-size: 16px;
}

.form button[type="submit"] {
  cursor: pointer;
}

.form button[type="submit"]:hover {
  color: #fff;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    outline: 0;
    box-shadow: none;
}

label.error {
  color: #d10c0c;
  font-size: 13px;
  margin: 0;
  font-weight: 400;
}
.gender-option label.error{   
   color: #d10c0c;
  line-height: 1;
  position: absolute;
  bottom: 12px;
  left: 5px;
}
.validation-errors {
  color: #ff2200;
  font-size: 12px;
  margin: 0;
}
select{ 
   -webkit-border-radius: 0; 
   -moz-border-radius: 0;  
   border-radius: 0;
   min-height: 42px;
}
.input-image{position: relative}
.input-image:before{position: absolute; left: 0; top: 0; content: "upload image"; background: #dd163b;color: #fff; width: 113px; text-transform: capitalize; font-size: 15px; text-align: center;    line-height: 42px;}
.gender-option{line-height: 42px;}
.gender-option label{padding-right: 15px;color: #6c757d;}
/*---------------
form css end here
------------**/

/* Back to top button */

.back-to-top {
  position: fixed;
  display: none;
  background: #f82249;
  color: #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s ease-in-out;
  z-index: 1;
}

.back-to-top i {
  font-size: 24px;
  padding-top: 6px;
}

.back-to-top:focus {
  background: #e0072f;
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: #e0072f;
  color: #fff;
}

/****/

.item .bg-white.rounded{
    height: calc(100% + 1.5rem);
}
.game-page .item .select-game.bg-white.rounded {
    height: calc(100% - 0.3rem);
}
summary{ list-style: none; cursor: auto;}

/**Loader CSS**/
#preloader { width: 100%; height: 100%; top: 0; right: 0; bottom: 0; left: 0; background:rgba(0,0,0,.4); z-index: 11000; position: fixed; display: block; }
.lds-roller { display: inline-block; position: absolute; top: calc(50% - 80px); left:calc(50% - 70px); transform: translate(-50%); -webkit-transform: translate(-50%); margin: 0 auto;}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
	
/*************************/
section {padding:80px 0;}

@media (min-width:1300px){
.container {max-width:1230px;}
}

@media (max-width:991px){
/*Common css*/
section {padding:60px 0;}
.title-bg:before {transform: skew(-2deg);}
}	

@media (max-width:767px){
/*Common css*/
section {padding:40px 0;}
.owl-carousel .owl-nav.disabled{display: none;}
.carousel-control-prev, .carousel-control-next{display: none;}
}

input[name="slot_date"][readonly] {
  background-color: #FFFFFF;
}

.body .modal-open .modal.show{
	overflow: hidden;
}
.modal-open .modal.show {
    padding-right: 10px !important;
}

.dropdown-menu {
  left: auto;
  right: 0;
}
.login-profile .dropdown-menu a{
border-bottom: 1px solid #ccc;
text-transform: capitalize;
font-size: 14px;
font-family: lato;
}
.login-profile .dropdown-menu a:last-child{
border-bottom: 0px;
}
.login-profile .dropdown-menu a:hover{
  background: #bb1234;
  color: #fff !important;
}
.login-profile .dropdown-item,
.login-profile .dropdown-item:hover{  
  padding: 0.7rem;
  color: #212529 !important;  

}
.login-profile .dropdown-menu{
  padding: 0;
}
.login-profile .dropdown-item.active, .login-profile .dropdown-item:active{
  color: #fff !important;
  background-color: #b81e20;
}
.login-profile .dropdown-toggle {
  background: #bb1234;
  border: 2px solid #bb1234;
  color: #fff;
  border-radius: 5px;
  padding: 5px 15px;
}
.form-screen label {
  font-size: 14px;
  color: #161727;
  font-weight: 600;
  margin-bottom: 4px;
}
.alert{
  border-radius: 0; 
  font-size: 1em;
  margin-bottom: 10px !important;
}
.close {margin-top: -3px;}

.dataTables_paginate .pagination {justify-content: flex-end; padding:10px 0;} 
.dataTables_info {padding:10px 0;}
.dataTables_wrapper.container-fluid {padding:0!important; }