#footer {background:#000000; padding-top: 30px;}
.footer li a {color: #fff; font-weight: 700; text-transform: uppercase; font-size: 0.9rem;}
.footer li:hover a{color: #DD163B;}
.social-icons li a i{color: #fff; font-size: 22px;}
.social-icons li { background: #DD163B; margin-left: 15px; padding: 7px; border-radius: 5px; min-width: 40px; text-align: center;transition: all ease-in-out 0.5s; -webkite-transition: all ease-in-out 0.5s; -moz-transition: all ease-in-out 0.5s;}
.social-icons li:hover { background: #fff;}
.social-icons li:hover i{ color: #DD163B;}
.footer li.nav-item:hover a, .footer li.active a {
    color: #DD163B !important;
}
.footer-bottom p{
	margin-bottom: 0;
}