/*--------------------------------------------------------------
 slider-banner 
--------------------------------------------------------------*/

/* .slider-banner{	background: url(../img/banner-img.jpg);	background-position: center;background-repeat: no-repeat;background-size: cover;width: 100%;padding: 200px 0 100px;display: flex;align-items: center;} */

.slider-text{	width: 100%;margin: 0 auto;}
.slider-text  h1{	font-size: 4rem;overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.carousel-item .view img {    min-height: 300px;   height: 100vh; object-fit: cover;}
.carousel.slide{z-index: 1}
/*--------------------------------------------------------------
game section
--------------------------------------------------------------*/

.game-section { color: #000;}
.icon-img {margin-right: 10px;max-width: 20px;}
.calender-section { position: relative;}
.calender-section figure{height: 250px;background: transparent; width: 100%;}
.calender-section figure img {    height: 100%;width: 100%; object-fit: cover; object-position: center;}
.calender-block {position: absolute;bottom: 0; padding: 0.5rem;}
.game-detail + span{width: 100%; float: left} 

/*--------------------------------------------------------------
I am online
--------------------------------------------------------------*/

.dot { width: 10px; height: 10px; display: inline-block; border-radius: 100%;  position: absolute; top: 10px; right: 10px;}

/*--------------------------------------------------------------
Live games
--------------------------------------------------------------*/

.live-videos p{font-size: 0.8rem}
.play_icon {position:absolute; left: 0; right: 0; top: calc(50% - 40px);  margin-left: auto; margin-right: auto; cursor:pointer; width:60px;}
.live-videos figure {position: relative; height: 210px; overflow: hidden}
.live-videos figure:before { position: absolute; background: #000; content: ""; left: 0; right: 0; top: 0; bottom: 0;opacity: 0.3;}
.most-recent-cat{position: relative}
.most-recent-cat .dropdown {     position: absolute;    top: -80px;    right: 0;    border: 0;    border-radius: 0 !important;}
.live-videos .btn-red{padding: 15px 35px}

/*--------------------------------------------------------------
award icon
--------------------------------------------------------------*/

.award-icon{ position: absolute; right: 0; top: calc(100% - 23px); margin-left: auto; margin-right: auto;cursor: pointer; width: 50px;}

/*--------------------------------------------------------------
celebrity calender
--------------------------------------------------------------*/
.calendar ol::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* ================
Calendar Styling */
.calendar {  border-radius: 10px;}
.left-section .calendar {margin-top: 40px;border-radius: 0; box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;}
.calendar ol li {  float: left;  width: 14.28571%;}
.calendar .day-names {  border-bottom: 1px solid #eee;    padding-top: 15px;    font-weight: 600;}
.calendar .day-names li {  text-transform: uppercase;  margin-bottom: 0.5rem; font-size: 12px;}
.calendar .days li {  border-bottom: 1px solid #eee;  min-height: 4rem;}
.calendar .days li:hover .date, .calendar .days li.active .date{ color: #fff; background: #dd163b;}
.calendar .days li .date {       transition: all ease-in-out 0.5s;    -webkite-transition: all ease-in-out 0.5s;    -moz-transition: all ease-in-out0.5s;    margin: 15px 12px;    text-align: center;    border-radius: 50%;    width: 32px;    height: 32px;    line-height: 32px;}
.calendar .days li .event {  font-size: 0.75rem;  padding: 0.4rem;  color: white;  white-space: nowrap;  overflow: hidden;  text-overflow: ellipsis;  border-radius: 4rem;  margin-bottom: 1px;}
.calendar .days li .event.span-2 {  width: 200%;}
.calendar .days li .event.begin {  border-radius: 1rem 0 0 1rem;}
.calendar .days li .event.end {  border-radius: 0 1rem 1rem 0;}
.calendar .days li .event.clear {  background: none;}
.calendar .days li:nth-child(n+29) {  border-bottom: none;}
.calendar .days li.outside .date {  color: #ddd;}


.celebrity-calender .nav-tabs .nav-item.show .nav-link, .celebrity-calender .nav-tabs .nav-link.active { color: #fff; background-color: transparent; border-color: transparent;}
.celebrity-calender .nav-tabs .nav-link, .celebrity-calender .nav-tabs{border: 0}
.celebrity-calender .nav-tabs a.nav-link{position: relative; text-align: left; padding: 10px 0; margin-right: 30px; color: #fff;}
.celebrity-calender .nav-tabs a.nav-link:before{    position: absolute;    content: "";    left: 0;    width: 0;    height: 2px;    background: red;    bottom: 0;    margin: auto;    right: 0;    opacity: 0;    transition: all ease-in-out 0.5s; -webkite-transition: all ease-in-out 0.5s; -moz-transition: all ease-in-out 0.5s;}
.celebrity-calender .nav-tabs a.nav-link:hover:before, .celebrity-calender .nav-tabs .nav-link.active:before {    opacity: 1;    width: 100%;}
.celebrity-calender nav{width:100%; max-width: max-content;}
.celebrity-details {  line-height: 1.4;}
.celebrity-calender .celebrity-block { background: #fff !important; min-height: 136px; margin-bottom: 12px;transition: all ease-in-out 0.5s; -webkite-transition: all ease-in-out 0.5s; -moz-transition: all ease-in-out 0.5s;}
.celebrity-calender .celebrity-block:hover, .celebrity-calender .celebrity-block.active{ background: #DD163B !important; color: #fff;}
.book-btn .btn-red{padding: 5px 20px;}
.book-btn .btn-red:before, .book-btn .btn-red:after {
		transform: skew(0);
	background: #fff;
	width: 0;
}
.book-btn .btn-red:hover{color: #fff;}
.celebrity-calender .celebrity-block.active .book-btn .btn-red, .celebrity-calender .celebrity-block:hover .book-btn .btn-red{
	color: #000; background: #fff;
}
.celebrity-block.active .calendar-icon, .celebrity-block:hover .calendar-icon {
    fill: #ffffff;
    -webkit-filter: invert(1) sepia(18) saturate(20) hue-rotate(5deg);
    filter: invert(1) sepia(0) saturate(18) hue-rotate(5deg);
}
.tab-content .celebrity-block figure {width: 22%; margin-right: 15px;}
.tab-content .celebrity-block .d-flex {width: 78%;}
.tab-content .celebrity-block img.rounded { height: 120px;width: 100%; object-fit: cover;}
.tab-content .celebrity-block .celebrity-details{    flex-direction: column;    display: flex;}
/* .celebrity-calender .right-section .tab-content ul{height: 400px;    overflow-y: auto;} */
/* .celebrity-calender .right-section .tab-content ul li{    margin-right: 15px;} */
.calendar-icon{width: 20px;margin-right:5px;padding: 2px;}
.book-btn { text-align: center;}

/*--------------------------------------------------------------
# media queries
--------------------------------------------------------------*/

@media (min-width: 1279px){
/** slider-banner **/	
.carousel-caption {right: auto;left: 7%; text-align: left;  top: 50%;}
}
@media (max-width: 1279px){
/** slider-banner **/	
.slider-banner  h1{	font-size: 3rem; line-height: 0.9; padding:0;}
nav ul li a{font-size: 12px;}
}

@media (max-width: 991px){
	.bg-voilet:before , .bg-voilet:after{display: none;}
	.header{padding-left: 0; padding-right: 0;}

}
@media (max-width: 767px){
/** slider-banner **/	
.slider-banner  h1{	font-size: 3rem;}
}

@media (max-width: 520px){
	body .most-recent-cat .dropdown {position: relative;    top: 0px;}
/*------
celebrity-calender
--------*/
.celebrity-calender .celebrity-block{line-height: normal}
.celebrity-details span { font-size: 12px;}
.celebrity-calender .celebrity-block .d-flex {justify-content: flex-start !important;width: 50%; flex-direction: column;align-items: flex-start !important;}
.tab-content .celebrity-block figure {width: 50%;}
/* .celebrity-calender .btn-red{margin-top: 20px} */
	/* .calendar .days li .date{margin: 14px;} */
}