
.game-listing table{border:0;    margin: 0;}
.game-listing .table thead th{border-bottom: 0; text-transform: uppercase; font-size: 14px; color: #fff; padding: 15px ; font-weight: 600}
.game-listing .table td, .game-listing .table th{vertical-align: middle; border: 0; padding: 10px 15px;}
.table-border{    padding: 4px;    border: 1px solid #eaeaec;}
.action-btn{padding-right: 15px;}
.game-listing th{font-weight: 500;    background: #011627;}
.game-listing td{text-transform: capitalize; background: rgba(255, 255, 255, 0.9); color: #000;transition: all ease-in-out 0.5s;    -webkite-transition: all ease-in-out 0.5s;    -moz-transition: all ease-in-out0.5s; }
.game-listing tr{border-bottom: 1px solid #dee2e6}
.game-listing tbody tr:hover td{background: #fff;}
.game-listing td.img-icon img {width: 100%;height: 50px; object-fit: cover; border-radius: 100%; max-width: 50px; text-align:center;}
.game-listing .input-group-text{ padding: 0.68rem .75rem; border-radius: 0px;}
@media(max-width: 991px){
	.game-listing .table thead th{padding: 15px 10px; font-size: 12px;}
}