
/*--------------------------------------------------------------
games page
--------------------------------------------------------------*/
.game-section .online-player.bg-white.rounded.inner-game-page {
    height: calc(100% - 0.3rem);
}

.slot-details{
	text-align: left;
	text-transform: capitalize;
	font-weight: 900;
	font-size: 1.02rem;
}
.slot-details span{
	color: #dd163b;
	padding-left: 3px;
}
