@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700&display=swap');

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue-Bold.woff2') format('woff2'),
        url('../fonts/BebasNeue-Bold.woff') format('woff'),
        url('../fonts/BebasNeue-Bold.svg#BebasNeue-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue-Regular.woff2') format('woff2'),
        url('../fonts/BebasNeue-Regular.woff') format('woff'),
        url('../fonts/BebasNeue-Regular.svg#BebasNeue-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue-Regular.woff2') format('woff2'),
        url('../fonts/BebasNeue-Regular.woff') format('woff'),
        url('../fonts/BebasNeue-Regular.svg#BebasNeue-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue-Bold.woff2') format('woff2'),
        url('../fonts/BebasNeue-Bold.woff') format('woff'),
        url('../fonts/BebasNeue-Bold.svg#BebasNeue-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
/**********/
nav.navbar.bg-voilet {
    min-height: 70px;
}
nav ul li a {
    font-size: 1.2rem;
}
.header{     padding-left: 20px;
    padding-right: 20px; width: 100%;max-width: 1500px; margin: 0 auto; position: absolute; z-index: 11; left: 0; right: 0; top: 0; min-height:100px;    font-family: 'Bebas Neue';-webkit-transition: all ease-in-out 0.8s; transition: all ease-in-out 0.8s;} 
			

header.header.fixed {
    position: fixed;
    left: 0;
    right: 0;
	opacity: 1;
	
}
header.header.fixed .bg-voilet, header.header.fixed .bg-voilet:before, header.header.fixed .bg-voilet:after{background:rgb(14, 4, 76);box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);}
.header li.nav-item{padding-right: .3rem;padding-left: .3rem;}
.header li.nav-item a{position: relative;  padding-right: 0 !important; padding-left: 0 !important;}
.header li.nav-item a:before {position: absolute; content: ""; left: 0; width: 0; height: 2px; background: red; bottom: 0; margin: auto; right: 0; opacity: 0; transition: all ease-in-out 0.5s;}
.header li.nav-item:hover a:before, li.nav-item a.active:before {opacity: 1; width: 100%;}

.login-cart li a i{margin-right: 10px;}
nav ul li a{color: #fff !important; position: relative; text-transform: uppercase;    letter-spacing: 0.5px;}
.navbar-brand{border-right: 1px solid rgba(216, 216, 216, 0.3686274509803922);}
.header .icon-bar+.icon-bar {    margin-top: 6px;}
.header .icon-bar {    display: block;    width: 22px;    height: 2px;    border-radius: 1px;}
.header .icon-bar {    background: #fff;}

@media(max-width: 1279px){
.login-cart li a i {    font-size: 18px;	margin-right: 0px;}
.login-cart span {    display: none;}
nav li.nav-item:last-child {    border: 0;}
nav li.nav-item {    padding: 5px 0;}
.login-cart { flex-direction: row;    display: flex;align-items: center;}
	.login-cart li.login-modal{border-bottom: 0;    margin-left: 20px;padding-bottom: 0}
}

@media(max-width: 991px){
.login-cart {    position: absolute;    top: 25px;    right: 40px;    flex-direction: row;    display: flex;align-items: center;}
	#navbarSupportedContent { border-top: 1px solid rgba(216, 216, 216, 0.3686274509803922);}   

}
@media(max-width: 767px){
	.text-title{text-align: left}
	body .text-title:before{right: auto;}
}
.nav-link:focus, .nav-link:hover{color: #fff;}
.login-cart li{margin-left: 15px;}
.login-modal {border-bottom: 1px solid #c5c5c5; padding-bottom: 5px;}
.cart-option {padding-top: 5px;}
.login-cart li a:hover{ color : #f82249 !important; text-decoration: none;}


/*------------------------
inner-banner
-------------------*/

.inner-banner {position:relative;height: 350px; overflow: hidden}
.inner-banner h1 {letter-spacing: 3px; text-shadow: 0 0 10px #000; }
.inner-banner img {object-fit: cover; height: 100%; object-position: left;}
.inner-banner:before {
    content: '';
    background: rgba(0,0,0,.4);
    position: absolute;
    height: 100%;
    width: 100%;
}
.innerbanner_summary {-webkit-transform:translate(-50%, -60%); -ms-transform:translate(-50%, -60%); transform:translate(-50%, -40%); display: inline-block; text-align:center; position:absolute; top:60%; left:50%; color:#fff; z-index:2;}
.innerbanner_summary h1 span {color:#b81e20;}
