.upload-img img {
    width: 120px;
    height: 120px;
	object-fit: cover;
	object-position: center;
}
ul#myTab {
    flex-direction: column;
}
a:hover {
    text-decoration: none;
}
.profile-left-tab{
	border-right: 1px solid #ccc;
}

.profile-left-tab ul li{
	    border-bottom: 1px solid #ccc;
	line-height: 3;
	transition: all ease-in-out 0.5s;
	-webkit-transition: all ease-in-out 0.5s;
	-moz-transition: all ease-in-out 0.5s;
}
.profile-left-tab ul li:last-child{
	    border-bottom:0px;
    
}
.profile-left-tab ul li a.active, .profile-left-tab ul li:hover a{
    background: #aa1e20;
    text-decoration: none;
    color: #fff;
}
.profile-left-tab ul li a{
	width: 100%;
	display:block;
	padding:0 15px;
}
.profile-right-tab {
    padding: 30px!important;
}
.account-detail{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 15px;
}
.account-detail p{
	margin-bottom: 0;
	text-transform: capitalize;
	font-weight: 600;
} 
.account-detail i.icon i {
    color: #fff;
	font-size: 30px;
}
.account-detail i.icon {
    width: 80px;
    height: 80px;
    line-height: 90px;
    text-align: center;
		background: #aa1e20;
    border-radius: 5px;
}
