/** Checkbox design **/
.title-text{position: relative;}
.title-text:before{position: absolute; content: ""; bottom: -5px; width: 100px; left: 0; background: #fff; height: 2px;}

blockquote {
    float: left;
    width: 100%;
    color: #666666;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    border-left: none;
    position: relative;
    margin: 8px 0px 8px;
    padding: 53px 45px 26px 62px;
    line-height: 1.5;
}
blockquote:before {
    content: "\f10e";
    font-family: FontAwesome;
    font-size: 40px;
    position: absolute;
    left: 40px;
    top: 33px;
    color: #999999;
    font-style: normal;
    opacity: 0.15;
}
blockquote span:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 28px;
    width: 180px;
    height: 2px;
	background-color: #ffdc11;
}
blockquote:after {
    content: '';
    position: absolute;
    left: 30px;
    top: 0px;
    height: 100%;
    width: 2px;
	background-color: #ffdc11;
}
.sportsmagazine-tags {
    width: 100%;
    float: left;
    margin: 20px 0;
}
.sportsmagazine-tags a {
    margin: 0px 10px 10px 0px;
    font-size: 12px;
    padding: 6px 14px 7px;
    color: #555555;
    position: relative;
    background-color: #f5f5f5;
	text-transform: uppercase;
}
.sportsmagazine-tags a:hover {
    color: #fff;
	background: #b81e20;
}