#smileys{
	text-align: center;
}
form#smileys input[type="radio"] {
	-webkit-appearance: none;
	width: 50px;
	height: 50px;
	border: none;
	cursor: pointer;
	transition: border .2s ease;
	filter: grayscale(100%);
	margin: 0 5px;
	transition: all .2s ease;
}
form#smileys input[type="radio"]:hover, form#smileys input[type="radio"]:checked {
	filter:	grayscale(0);
}

form#smileys input[type="radio"]:focus {
	outline: 0;
}
form#smileys input[type="radio"].happy {
	background: url('../img/rate-us/happy_ampvnc.svg') center;
	background-size: cover;
}

form#smileys input[type="radio"].neutral {
	background: url('../img/rate-us/neutral_t3q8hz.svg') center;
	background-size: cover;
}
form#smileys input[type="radio"].sad {
	background: url('../img/rate-us/sad_bj1tuj.svg') center;
	background-size: cover;
}
