.gantt { font-size: inherit; }
.gdatehead { border-top: #efefef 1px solid; font-size: 12px; border-left: #efefef 1px solid; width: 15px; font-weight: bold; }
.ghead { border-top: #efefef 1px solid; font-size: 12px; border-left: #efefef 1px solid; width: 24px; height: 25px; }
.gname { border-top: #efefef 1px solid; font-size: 12px; width: 18px; height: 18px }
.ghead a { font-size: 10px; color: #000000; text-decoration: none }
.gheadwkend a { font-size: 10px; color: #000000; text-decoration: none }
.gheadwkend { border-top: #efefef 1px solid; font-size: 12px; border-left: #efefef 1px solid; width: 24px; height: 25px; background-color: #cfcfcf; }
.gheadwkend div, .ghead div {padding-top: 2px;}
.gfiller { border-top: #efefef 1px solid; border-left: #efefef 1px solid; width: 18px; height: 18px }
.gfillerwkend { border-left: #efefef 1px solid; width: 18px; height: 18px; background-color: #cfcfcf }
.gitem { border-top: #cccccc 1px solid; width: 18px; height: 18px }
.gitemwkend { border-top: #cccccc 1px solid; border-left: #cccccc 1px solid; width: 18px; height: 18px }
.gmilestone {	border-top: #efefef 1px solid; font-size: 14px; overflow: hidden; border-left: #efefef 1px solid; width: 18px; height: 18px}
.gmilestonewkend {	border-top: #efefef 1px solid; border-left: #cccccc 1px solid; width: 18px; height: 18px}
.hrcomplete { border-right: #000000 2px solid; padding-right: 0px; border-top: #000000 2px solid; padding-left: 0px; padding-bottom: 0px; border-left: #000000 2px solid; width: 20px; color: #000000; padding-top: 0px; border-bottom: #000000 2px solid; height: 4px }
.hrhalfcomplete { border-right: #000000 2px solid; border-top: #000000 2px solid; border-left: #000000 2px solid; width: 9px; color: #000000; border-bottom: #000000 2px solid; height: 4px }
.gweekend { background-color:#eeeeee; text-align:center; }
.gtask { background-color:#00ff00; text-align:center; }
.gday { text-align:center; }
.gcomplete { background-color:black; height:5px; overflow: auto; margin-top:4px; }
div.scroll { border-right: #efefef 1px solid; padding-right: 0px; border-top: #efefef 1px solid; padding-left: 0px; padding-bottom: 0px; overflow-y: scroll; border-left: #efefef 1px solid; width: 420px; padding-top: 0px; border-bottom: #efefef 1px solid; background-color: #ffffff }
div.scroll2 { position:relative; padding-right: 0px; overflow:auto ;overflow-x:scroll;overflow-y:hidden; padding-left: 0px; padding-bottom: 0px; width: 524px; padding-top: 0px; background-color: #ffffff }
.vchartformat { text-align: center; padding: 5px 0;}
.vchartformat label { font-size: 0.9rem; margin: 1em; display: inline-block; position: relative; padding-left: 10px; cursor: pointer; }  
.vchartformat input { /*height: 1px; width: 1px;*/ height: 17px; width: 10px; opacity: 0; }  
.vchartformat .outside { display: inline-block; position: absolute; left: 0; top: 50%; margin-top: -6px; width: 14px; height: 14px; border: 2px solid red; border-radius: 50%;
    -webkit-box-sizing: border-box; box-sizing: border-box; background: none; }  
.vchartformat .inside { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); display: inline-block; border-radius: 50%;
    width: 6px; height: 6px; background: red; left: 2px; top: 2px; -webkit-transform: scale(0, 0); transform: scale(0, 0); }
.vchartformat .no-transforms .inside { left: auto; top: auto; width: 0; height: 0; }
.vchartformat input:checked + .outside .inside { -webkit-animation: radio-select 0.1s linear; animation: radio-select 0.1s linear; -webkit-transform: scale(1, 1); transform: scale(1, 1); }
.vchartformat .no-transforms input:checked + .outside .inside { width: 10px; height: 10px; }
.vcharttheading { border-top: #efefef 1px solid; border-left: #efefef 1px solid; font-size: 12px; font-weight: bold; }