body{background: #fbfbfb;color: #283c46}
.middle-arg {
    max-width: 100%;
    margin: 0px auto;
    padding: 4px 0 40px 0;
    border-radius: 0.2em 0.2em 0 0;
}
.edit_task_section {
    border: 1px solid #e5e5e5;
    margin: 0 0 1rem 2rem;
    border-radius: 0.6rem;
}
.checkbox.todos-form__checkbox {
    padding-left: 0;
}
.edit_task_frm_list .todos-form__details label {
	line-height: 22px;
}
.note-editor.note-frame {
    margin: 5px 0;
}
.comment_task i {
    color: #848484;
}
.comment_task i:hover {
    color: #2da562;
}
.thread-comment-options .dropdown .dropdown-item {
    padding: 0 3px;
    width: auto;
    display: inline-block;
    color: rgba(0,0,0,0.5);
}
#form-content{margin-top: 100px}
#app .navbar-taskmanagement {
    background: #fff;
    border-bottom: 1px solid #f6f2ef;
}
.edit_task_frm_list .form-control-plaintext.notify_user {
    margin-top: 13px;
    margin-right: 4px;
    margin-bottom: 13px;
}
.button-add {
    /*padding-left: 35px;
    padding-right:35px;*/
    display: inline-block;
    width: 100%;
}
.heading-sec h1 {
    text-align: left;
    font-size: 24px;
    letter-spacing: -0.5px;
    line-height: 35px;
    padding-bottom: 0.5rem;
    font-weight: 800;
    color: #575757;
    margin: 0;
    padding: 0;
}
.attachment_task:hover i{color: #2da562}
.attachment_task:hover{text-decoration: underline;}
.todos.remaining.completed_task {
    padding-bottom: 0;
}
.user-editSec {
    width: 100%;
}
.heading-sec {
    padding-bottom: 0.625em;
    border-bottom: 3px solid #575757;
    position: relative;
    width: 100%;
}
.web-header-new {
    position: absolute;
    top: 0;
    margin: 0;
    right: 0;
}
.btn--add-icon-reversed {
    background-color: #2da562;
    border-color: #2da562;
    color: #fff;
    border-radius: 51px;
    font-size: 13px;
    padding-top: 0.425em;
    padding-bottom: 0.425em;
}
.btn--add-icon-reversed:hover, .web-header-new .btn--add-icon-reversed:active{background-color: #2da562;border-color: #2da562;color: #fff;}
.btn--add-icon-reversed:focus{box-shadow: 0 0 0 0rem rgba(0,0,0,0);}
.web-header-new span::before {
    content: "\f067";
    font-family: FontAwesome;
    margin-right: 8px;
}
.todo-dragHandle {
    position: absolute;
    top: 6px;
}
.todo-dragHandle::before {
    content: "\f0c9";
    font-family: FontAwesome;
    color: #d9d9d9
}
.comment-nameHead.text-center.folder_color {
    float: left;
    font-size: 16px;
    line-height: 0;
    padding-top: 5px;
}
.folder_info {
    clear: both;
    display: inline-block;
    width:100%;
    margin-left: 60px;
    margin-top: 10px;
    padding: 0px;
    padding-bottom: 10px;
    width: calc(100% - 60px);
    text-indent: 0;
}
.optionsSec-header h3 {
	padding: 4px 1px;
	display: inline-block;
	width: 100%;
	margin: 0;
}
.iconsDeledit a {
    font-size: 18px;
    margin-right: 3px;
}
.iconsDeledit {
    line-height: 36px;
}
.optionsSec-header h3 a.taskHeading {
	color: #1b6ac9;
	font-weight: bold;
	font-size: 15px;
	text-decoration: none;
	float: left;
    margin: 0;
    padding-top: 3px;
	line-height: inherit;
}
.optionsSec-header h3 span.taskToggle {
    position: absolute;
    right: 10px;
    top: 0px;
    font-size: 0.9em;
}
.optionsSec-header h3 span.taskToggle i:hover {
    cursor: pointer;
}
.form-control-plaintext.folder_name {
    border-bottom: 1px solid #f2f2f2;
}
.form-control-plaintext.folder_name:visited, .form-control-plaintext.folder_name:focus {
    outline: 0;
}
.optionsSec-header h3 a.comments-balloon {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 0 2px;
    line-height: 17px;
    border: 0;
    border-radius: 3em;
    background: #1b6ac9;
    color: #fff;
    text-decoration: none;  
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
}
.todo-progressDot::before{
    content:"\f111";
    font-family: FontAwesome;
    color:#96d2b1;
    font-size: 21px;
}
.todo-progressDot {
    position: absolute;
    top: 0;
}
.todo-progress__ratio {
    font-size: 13px;
    color: #6d6d6d;
    position: absolute;
    top: -10px;
    font-weight: 600;
    left: 74px;
}
.todo-progress__ratio a{
    color:#6d6d6d;
}
.options-secD {
    margin-top: 40px;
}
.recordable-anchor {
    position: absolute;
    left: -25px;
    top: 3px;
}
.recordable-anchor::before {
    content: "\f0c9";
    font-family: FontAwesome;
    color: #d9d9d9
}
.checkbox {
    /*padding: 0.25em 0 0.25em 1.9em;*/
    position: relative;
    min-height: 1.4em;
    display: block;
}
.checkbox__label {
    position: absolute;
    left: 0;
    top: 0.65em;
    cursor: pointer;
}
.checkbox__input {
    opacity: 0;
    position: absolute;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    z-index: -1;
}
.checkbox__button {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    border: 1px solid rgba(0,0,0,0.25);
    background-color: #fff;
    border-radius: 0.3em;
    vertical-align: top;
}
.todo .checkbox__content.unassigned {
    margin-left: 6px;
}
.todo .checkbox__content.unassigned a{
    color: #283c46;
    text-decoration: none;
}
.checkbox__content {
    display: block;
    vertical-align: top;
    cursor: pointer;
}
.todos.remaining {
    /*padding-left: 38px;
    padding-right: 38px;*/
    padding: 0px;
}
.todos.remaining.completed_task {
    padding-bottom: 1rem;
    margin-bottom: 0;
}
.todos.remaining li {
    list-style: none;
    position: relative;
}
.todo__unassigned-unscheduled {
    display: none;
}
.todos.remaining li:hover .todo__unassigned-unscheduled {
    display: block;
    color: #877457;
    position: absolute;
    left: 79px;
    text-decoration: none;  
    top: 5px;
    font-size: 14px;
}
.btn.btn--small.btn--primary-on-android {
    border: 1px solid #d9d9d9;
    border-radius: 55px;
    font-size: 12px;
    color: #283c46;
}
.client-visibility-flag.client-visibility-flag--for-index{
    padding: 1px 0.75em 1px 2em;
    position: relative;
    top: -3px;
    font-size: 14px;
    font-weight: normal;
    white-space: nowrap;
    background: #ffdb4d;
    border-radius: 2em;
    color: #283c46
}
.client-visibility-flag.client-visibility-flag--for-index.hide-on-sub-perma::before {
	font-family: FontAwesome;
	content: "\f06e";
	color: #283c46;
	position: absolute;
	font-size: 12px;
	left: 12px;
	top: 3px;
}
.todolist-actionsBtn {
    position: relative;
}
.todolist-actionsBtn .btn.btn--small.btn--primary-on-android {
    margin-left: 10px;
    margin-bottom: 1rem;
}
.todo-addDescribe {
	border: 1px solid #e5e5e5;
	margin: 1rem 15px;
	border-radius: 0.6rem;
    display: none;
}
.todos-form__header {
    padding: 0.75rem 15px 0;
}
.input--borderless {
    background-color: rgba(255,255,255,0);
    box-shadow: none !important;
    border: 0;
    border-radius: 0;
    outline: 0;
    width: 100%;
    text-align: center;
    height: 25px;
    font-size: 15px;
}
textarea::placeholder, input::placeholder{color: #717171}
.todos-form__field {
    border-top: 1px solid #f2f2f2;
}
.form-control.form-control-sm.assigned_to {
    margin: 5px 0;
}
.todos-form__field .form-group{
    margin-bottom: 0;
}
.todos-form__field .form-group input{
    padding: 9px 0;
    font-size: 15px;
}
.todos-form__details {
    padding: 0 15px;
}

.todos-form__details label {
	width: 20rem;
	padding-top: 0.6em;
	padding-bottom: 0.6em;
	padding-right: 1rem;
	text-align: right;
	margin-bottom: 0;
	padding-left: 0;
	font-size: 15px;
    line-height: 23px;
}
.options-secD .indent .checkbox__content a.attachment_task {
    padding-left: 0;
}
.options-secD .indent .checkbox__content a.attachment_task i{
    color:#848484;
}
.submit.push_half--ends .btn {
    background: #2da562;
    border-radius: 55px;
    color: #fff;
    font-size: 12px;
    display: initial;
    margin: 10px 0;
}
.submit.push_half--ends .btn.btn--secondary{
    background: #dc3545;
    color: #fff;
    border: 1px solid #dc3545;
}
.submit.push_half--ends {
    margin-left: 10px;
}
.options-secD .indent {
    position: relative;
}
.indent.indent-checked {
    padding: 10px 38px;
}
.options-secD .indent .checkbox__content a {
	text-decoration: none;
	font-size: 14px;
	color: #283c46;
}
.indent .checkbox .checkbox__label span.checkbox__button.checked {
    position: relative;
    border-color: rgba(0,0,0,0.1);
    background-color: #2da562;
    box-shadow: none;
    position: relative;
}
.indent .checkbox .checkbox__label span.checkbox__button.checked::before {
    content:"\f00c";
    font-family: FontAwesome;
    color: #fff;
    position: absolute;
    top: -1px;
    left: 2px;
    font-size: 13px;
}
.todo-newList {
	border: 1px solid #e5e5e5;
	margin-bottom: 1rem;
	border-radius: 0.6rem;
    margin-top: 30px;
    color: #283c46;   
    display: none;
    background: #fff;
}
.newList-head {
    text-align: center;
    background: #faf8f7;
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
    padding: 1em 1em 1rem;    
}
.newList-head p {
    font-weight: bold;
    margin: 0 0 5px;
}
.newList-radio .form-check-label.lock{
    background: #cbeefa;
    border-radius: 55px;
    padding: 0.1em 0.66em 0.1em 30px;
    font-size: 14px;
    position: relative;
}
.newList-radio .form-check-label.lock::before{
    content:"\f023";
    font-family: FontAwesome;
    position: absolute;left: 9px;top: 2px;
}
.newList-radio .form-check-label.view{
    padding: 0.1em 0.66em 0.1em 30px;
    font-size: 14px;
    position: relative;
}
.newList-radio .form-check-label.view::before{
    content:"\f06e";
    font-family: FontAwesome;
    position: absolute;left: 9px;top: 2px;
}
.newList-form {
    /*padding: 0.75rem 15px 0;*/
    margin-left: 60px;
}
.newList-form #exampleFormControl1 {
	border-bottom: 1px solid #f2f2f2;
	font-weight: bold;
	font-size: 18px;
}
.newList-form .form-group{margin-bottom: 0;}
/******checkbox*****/
.#client-people{margin-top: 35px;margin: 0 -0.5rem 0rem;}
/*
.options-secD {

    margin-top: 40px;
    padding: 0.5rem;
    margin: 0 -0.5rem 0rem;
        margin-top: 0px;
    margin-top: 0px;
    border: 2px solid #ffdb4d;
    border-radius: 2.6rem;
    margin-top: 35px;

}
*/
.options-secD {
	padding: 0;
	margin: 17px 0 0 0;
	border-radius: 5px;
	/*background: #fff;*/
	box-shadow: 0px 0px 1px 0 rgba(0, 0, 0, 0.20);
	line-height: 24px;
}
.radio { 
     display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.ui-datepicker{z-index: 1 !important};

/* Hide the browser's default radio button */
.radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    left: 10px;
    z-index: 1;
    top: 12px;
    width:100%;
}

/* Create a custom radio button */
.checkround {
    position: absolute;
    top: 9px;
    left: 6px;
    height: 20px;
    width: 20px;
    background-color: #283c46 ;
    border-color: #283c46;
    border-style:solid;
    border-width:2px;
     border-radius: 50%;
}


/* When the radio button is checked, add a blue background */
.radio input:checked ~ .checkround {
    background-color: #283c46;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkround:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio input:checked ~ .checkround:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio .checkround::after {
	left: 4px;
	top: 4px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #fff;
}
.newList-radio .form-check {
    width: 35%;
    margin: 0 auto;
    padding: 0;
}
/******checkbox*****/
.options-details .todo-progress__ratio a {
    font-size: 16px;
}

.options-details .todo-progressDot::before {
    content: "\f111";
    font-family: FontAwesome;
    color: #96d2b1;
    font-size: 29px;
    margin-top: 3px;
    display: block;
}
.options-details .optionsSec-header h3 a.taskHeading {
    color: #1b6ac9;
    text-decoration: underline;
    font-weight: 700;
    margin-left: 33px;
    font-size: 30px;
}
.options-details .todo-progress__ratio {
    color: #6d6d6d;
    position: absolute;
    top: -18px;
    font-weight: 600;
    left: 74px;
}
.options-details .todos.remaining li:hover .todo__unassigned-unscheduled {
    display: block;
    color: #877457;
    position: absolute;
    left: 79px;
    text-decoration: none;
    top: 7px;
    font-size: 14px;
}

.todo-comment{
    margin-bottom: 4em;
}
.comment-headline {
	margin: 1.5em 0 0.625em;
	z-index: 0;
	position: relative;
}
.comment-headline::before {
	border-bottom: 3px solid #000;
	content: "";
	position: absolute;
	top: 56%;
	left: 0;
	right: 0;
}
.comment-headline span {
	display: inline-block;
	padding: 0 0.5em 0 0;
	background: #fbfbfb;
	z-index: 1;
	position: relative;
}
.comment-headline span.comments-balloon {
	position: relative;
	display: inline-block;
	padding: 0 2px;
	border: 0;
	border-radius: 3em;
	background: #1b6ac9;
	color: #fff;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	min-width: 2.8rem;
	height: 2.8rem;
	line-height: 2.5rem;
	font-size: 0.875em;
}
.form-control-plaintext.notify_user {
    width: auto;
    display: inline;
}
.comment-headline span.comment-title {
	font-size: 24px;
	color: #283c46;
	font-weight: bold;
    padding: 0;
}
.comment-sec {
    margin: 0 0 1.2em 0;
    padding: 1.2em;
    min-height: 5rem;
    position: relative;
    background: #faf8f7;
    border-radius: 1.6rem;
}
.edit_task_section.edit_task_section_details {
    border: 0;
    margin: 0;
    border-radius: 0;
}
.task_disply_form_only h1.display-4 {
    font-size: 24px;
    font-weight: 600;
}
.comment-nameHead.comment-nameHeadcomment{
	background: #e65132;
	text-align: center;
	color: #fff;
	font-size: 25px;
	font-weight: bold;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	line-height: 55px;
}
.thread-comment-time {
	color: rgba(0,0,0,0.5);
	font-size: 13px;
	display: inline;
}
.comment-btnsmall {
	padding: 0;
	color: rgba(0,0,0,0.5);
	font-size: 24px;
	font-weight: bold;
	background: transparent;
	border: 0;
	height: 0;
	line-height: 0;
}
.thread-comment-author, .formatted_content {
    display: block;
    margin-bottom: 5px;
}
.task_disply_form_only .btn.btn--small.btn--secondary.mark-folder {
    background: #1b6ac9;
    color: #fff;
    border: 1px solid #1b6ac9;
    border-radius: 55px;
}
.thread-comment-options {
	position: absolute;
	right: 15px;
	top: 19px;
	cursor: pointer;
	width: 100px;
	text-align: right;
}
.thread-comment-options .dropdown {
    display: inline;
}
.thread-comment-options #dropdownMenuButton {
    display: inline-block;
    height: 17px;
    color: rgba(0,0,0,0.5);
}
.thread-comment-options #dropdownMenuButton.dropdown-toggle::after{content:none;}
.thread-comment-options #dropdownMenuButton:hover, .thread-comment-options #dropdownMenuButton:focus, .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle{background: transparent}
.thread-comment-options .dropdown-menu.show {
	top: -32px !important;
	left: auto !important;
	right: -14px;
	background: #1b6ac9;
	border-radius: 0 1.6rem 1.6rem;
	visibility: visible;
	display: block !important;
	width: 17rem;
	height: auto;
	border: 0;
	padding: 4rem 0 0;
	margin: 0;
}
.thread-comment-options .dropdown-menu.show .dropdown-item {color: #fff;padding: 0.5rem 1.5rem 0.5em 37px;position: relative}
.thread-comment-options .dropdown-menu.show .dropdown-item:last-child {border-bottom-left-radius:1.6rem;border-bottom-right-radius: 1.6rem}
.thread-comment-options .dropdown-menu.show .dropdown-item:hover {background: #145097;}
.thread-comment-options .dropdown-menu.show .dropdown-item.edit::before {
    color: #fff;
    content: "\f14b";
    position: absolute;
    left: 15px;
    font-family: FontAwesome;
}
.thread-comment-options .dropdown-menu.show .dropdown-item.delete::before {
    color: #fff;
    content: "\f1f8";
    font-family: FontAwesome;
    position: absolute;
    left: 15px;
}
.thread-comment-options .dropdown-menu.show .dropdown-item.notified::before {
    color: #fff;
    content: "\f007";
    font-family: FontAwesome;
    position: absolute;
    left: 15px;
}
.thread-comment-options .dropdown-menu.show::before {
    content: "\f00d";
    font-family: FontAwesome;
    color: #fff;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: block;
    text-align: center;
    line-height: 37px;
    font-size: 21px;
    position: absolute;
    top: 16px;
    right: 16px;
}
.prompt-commentbtn {
	color: #a9a9a9;
	display: block;
	width: 100%;
    max-width: 100%;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 0.4rem;
    line-height: 1.5;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: border-box;
    transition: box-shadow 0.15s ease-in-out;
    padding: 0.5em;
}
.form-commetBox{display: none;}
.comment-sec-last .comment-sec{margin: 0;}
.options-details .middle-arg {
    padding-bottom: 0;
}
.options-secD .indent .checkbox__content a.attachment_task i:hover {
    color: #2da562;
}
.comment-subscriptions{
    border-top: 1px solid #e5e5e5;
    margin: 4rem -5rem 0 -5rem;
    padding-left: 12rem;
    padding-right: 12rem;
    padding-bottom: 2em;
}
.thread__subscribers .flush {
	font-size: 17px;
	font-weight: bold;
}
.subscription-explanation {
    font-size: 15px;margin: 0;
}
.avatar-group .comment-nameHead {
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;font-size: 18px;
}
.avatar-group {
    margin-top: 15px;
}
.avatar-group .btn.btn--small {
	border: 1px solid #ccc;
	border-radius: 55px;
	font-size: 13px;
}
.thread__subscribers {
    padding-top: 2em;
}

/*9-4-2019 nyt-sht css*/
.user-tab{
    float: left;
    width: 100%;
    margin-top: 15px;
}
.nav-item{
   border-right:  1px solid #dee2e6;
}
.navbar-nav.mr-auto li:last-child{border-right:0}
.navbar-nav.ml-auto li.nav-item.dropdown{border-right:0}
.nav-tabs .nav-link {
    border: 0px solid transparent;
    color: #575757;
}
.todos-form__details label.checkbox-details {
    width: 100%;
    padding: 0.6em 15px;
}
.todos-form__details label.checkbox-details input.notify_user {
    margin-right: 10px;
}
.user-tab .nav-tabs .nav-item.show .nav-link, .user-tab .nav-tabs .nav-link.active {
    border-top: transparent;
    color: #2da562;
    background: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 2px solid #2da562;
}
.nav-tabs .nav-item{
    float: left;
    width: auto;
    text-align: center;
    border: transparent;
    color:#283c46;
}
.nav-link {
    display: block;
    padding: 11px 1rem;
}
.nav-tabs {
    padding: 0;
    margin: 0;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{border:transparent;
    color: #2da562;
    background: transparent;}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{border:transparent;}    
/*checkbox*/
.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}
.task_disply_form_only {
	padding: 15px 0;
}
.icon-style {
    font-size: 22px;
}
.icon-style i.fa.fa-angle-left {
	font-size: 35px;
	margin-left: 15px;
}
.icon-style.edit_task_icon.pull-right {
    margin-right: 15px;
}
.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.2em;
    height: 1.2em;
    float: left;
    margin-right: .5em;
    margin-top: 0px;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 13%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

#add_comment_form .checkbox, .edit_comment_form .checkbox {padding: 0}
#add_comment_form .checkbox label, .edit_comment_form .checkbox label{margin-bottom: 0;cursor: pointer;}
#add_comment_form .checkbox label input[type="checkbox"], .edit_comment_form .checkbox label input[type="checkbox"]{
    display: inline-block;
}
.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}
/*checkbox*/
#client-people {
    padding: 10px;
    margin: 0 0 1rem;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 0px 1px 0 rgba(0, 0, 0, 0.20);
}
.people-header {
    margin: 0;
}
.people-header h3 {
	font-size: 19px;
	font-weight: bold;
	margin-bottom: 10px;
}
.client-visibility-flag{
    padding: 1px 0.75em;
    position: relative;
    top: -1px;
    background: #ffdb4d;
    border-radius: 2em;
    font-size: 0.75em;
    font-weight: normal;
    white-space: nowrap;
    color: #283c46;
}
.user-editSec .comment-nameHead {
    background: #ffb857;
    text-align: center !important;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 54px;
    margin: 11px auto 10px;
}
.user-editSec .formatted_content {
    font-size: 15px;
}
.formatted_content_edit {
    padding-left: 0px;margin-bottom: 0;
}
.formatted_content_edit li {
    display: inline;
    padding: 0 0 0 0;
}
.formatted_content_edit li a {
    font-size: 15px;
    text-decoration: none;
    margin-top: 8px;
    display: inline-block;
    background: #fff;
    color: #2da562;
    border-radius: 55px;
    padding: 7px 16px;
    margin-bottom: 8px;
    border: 1px solid #2da562;
}
.formatted_content_edit li a:hover{
    background: #2da562;
    color: #fff;
}
/*
.todos.remaining.completed_task {
    margin-left: 38px;
    margin-right: 38px;
    padding: 1rem 0;
    margin-bottom: 0;
}
.todos.remaining.completed_task:first-child{
    border-top: 1px solid #e7e7e7;
}
*/
.navbar-nav.mr-auto li, .navbar-nav.ml-auto li {
	text-align: center;
}
/*
.navbar-light .navbar-toggler {
    margin-bottom: 10px;
}
*/
.todo-newPeople {
    border: 1px solid #e5e5e5;
    margin-bottom: 1rem;
    border-radius: 0.6rem;
    margin-top: 30px;
    color: #283c46;
    display: none;
    background: #fff;
}
.newPeople-form {
    padding: 0.75rem 15px 0;
}
.newPeople-form input {
    border-bottom: 1px solid #f2f2f2;
}
#padding-rem {
    margin-left: auto;
    margin-right: auto;
}

.app-main-content
{
/*    background:#f1f5f9;*/
    padding-top: 0 !important;    
}
.newPeople-form .form-group {
    position: relative;
    margin-bottom: 20px;
}
.newPeople-form .form-group label {
    position: absolute;
    font-size: 14px;
    top: 36px;
}
label.error{
    font-style: italic; 
    color: #dc3545;
}

.options-secD .indent .checkbox__content a.task_name.taskUserdate{
    font-size: 14px;
    color: #848484;
}
.options-secD .indent .checkbox__content a.task_name_home.taskUserdate{
    font-size: 14px;
    color: #848484;
}
.list-all a {
    border-radius: 55px;
    color: #fff;
    font-size: 15px;
    margin: 30px 0;
}

.todos-form__details .checkbox label {
    text-align: left;
    cursor: pointer;
}
.todos-form__details .checkbox {
    padding: 0;
}
.todos-form__details .checkbox input[type="checkbox"]{
    display: inline-block;
    cursor: pointer;
}

.task_disply_form_only .checkbox input[type="checkbox"] {
    display: inline-block;
    cursor: pointer;
}
.select-assign{
        width: 40%;
    display: inline-block;
}
.reminders_hours .checkbox {
    float: left;
}
.reminders_hours .checkbox label {
    width: 10rem;
    padding-bottom: 0;
    padding-top: 0;
}
.col-9.reminders_hours {
    padding: 0.6em 0;
}
.submit.push_half--ends {
    margin-left: 10px;
    display: inline-block;
}

.delete_folder_btn
{
    display:none !important;
}

.task-subtasks {
    /*padding-left: 45px;*/
    display: inline-block;
    margin-left: 15px;
}
.task-subtasks .task-subtasks-inner .completed_task_folder, 
.task-subtasks .task-subtasks-inner a.completed_folder_title {
    display: inline-block;
}
.task-subtasks .task-subtasks-inner a.completed_folder_title {
    font-weight: bold;
    color: #1b6ac9;
    font-size: 15px;
}


/* Dragable */  
  .dragbox-container {
    position: relative;
    min-height: auto;
  }
  
  .drag-route {
    position: relative;
    list-style-type: none;
    border: 0;
    margin: 0;
    padding: 0;
    top: 0px;
    margin-top: 0px;
    max-height: 100% !important;
    width: 100%;
    border-radius: 0px;
    z-index: -1;
    /*background: #f4f4f4;*/ /*repeating-linear-gradient( 45deg, transparent, transparent 4px, #fff 4px, #ccc 8px ), linear-gradient( to bottom, #eee, #fff );*/
  }
  .drag-handler.hamburger-color{
    color: rgba(0,0,0,.1);
  }
  
  .drag-route span.drag-handler {
    position: absolute;
    top: 7px;
    left: 17px;
    -ms-transform: scale(1.6);
    /* IE 9 */
  
    -webkit-transform: scale(1.6);
    /* Chrome, Safari, Opera */
  
    transform: scale(1.6);
    z-index: 10px;
  }

  .drag-route span.drag-handler:hover {
      cursor: move;
  }

  .dd-folder-title {
      text-align: center;
      background: #fff; 
      padding: 4px 0;
      color: #666;
    }
  
  .drag-route .title {
    position: relative;
    margin: 0;
    padding: 0;
    height: auto;
    width: inherit;
    text-indent: 15px;
    border-radius: 1px;
  }

  .drag-route .optionsSec-header {
    background: #ffffff;
  }
  
  .space {
    position: relative;
    list-style-type: none;
    border: 0;
    margin: 0;
    padding: 0;
    margin-left: 50px;
    margin-top: -12px;
    width: 40px;
    top: 22px;
    padding-bottom: 22px;
    height: 100%;
    z-index: 1;
  }
  .first-space { margin-left: 0px; }
/* End Dragable*/ 

/* start chain assignment of task*/
.further_assigned_to{
    display:inline-block;
    width:50% ;
}
/* end chain assignment of task*/
/***** start CSS for Ajax loader to show in center  */
.loader.show
{
display : block;
position : fixed;
z-index: 999;
background-image : url('ajax-loader.gif');
background-color:#666;
opacity : 0.4;
background-repeat : no-repeat;
background-position : center;
left : 0;
bottom : 0;
right : 0;
top : 0;
}
/***** Ends CSS for Ajax loader to show in center  */
.currently_assign_label {
    text-align: left !important;
}


.cloader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 60px;
    height: 60px;
    -webkit-animation: lspin 2s linear infinite; /* Safari */
    animation: lspin 2s linear infinite;
    margin: 20px auto;
}
/* Safari */
@-webkit-keyframes lspin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes lspin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media(max-width:1024px){
    .edit_task_section {
        margin: 1rem 0 0 0;
    }
}
@media(max-width:991px){
    .todos.remaining {
        /*padding-left: 15px;
        padding-right: 15px;*/
        padding: 0px;
    }
    .optionsSec-header h3 {
        padding-left: 4px;
    }
    .edit_task_frm_list .todos-form__details label {
        padding-right: 15px;
        text-align: left;
        padding-left: 15px;
    }
    .comment-subscriptions {padding-left: 6em;padding-right: 6em;}
    .people-header {
        text-align: center;
    }
    .user-editSec .comment-nameHead{margin-right: auto;margin-left: auto;}
    .iconsDeledit a {
        font-size: 16px;
        margin-right: 3px;
    }
    .iconsDeledit {
        position: absolute;
        right: 10px;
        width: 100%;
    }
    .todos-form__details label{
        font-size: 14px;
    }
    .todos-form__field .form-group input, .todos-form__field .form-group textarea {
        font-size: 14px;
    }
}
@media(max-width:767px){
    .middle-arg.task {
        padding-left: 15px;
        padding-right: 15px;
    }
    .todos.remaining li {
        padding-right: 15px;
    }
    .middle-arg {margin:0;box-shadow: 0 0px 0px rgba(0,0,0,0),0 0px 0px rgba(0,0,0,0),0 0px 0px #f3ece8;border-radius: 0;}
    .comment-subscriptions {
        padding-left: 3em;
        margin: 4rem -3rem 0 -3rem;
        padding-right: 3em;
    }
    .heading-sec {
        text-align: center;
    }
    .heading-sec h1 {
        text-align: left;}
    .web-header-new {
        /* position: static; */
        /* margin: 20px 0 0 0; */
        margin: 0px 0 0 0;
    }
    .container {
        max-width: 100%;
        padding: 0;
    }
    #app .card{border: 0;border-radius: 0;}
    #app .card .card-header {border: 0;border-radius: 0;}
    #app .card .card-header:first-child{border-radius: 0;}
    .navbar.navbar-expand-md.navbar-light.navbar-laravel.navbar-taskmanagement {
        padding-right: 0;
        padding-left: 0;
        background: #fff;
    }
    .navbar-light .navbar-brand {
        margin-left: 1.25rem;
    }
    .navbar-light .navbar-toggler {
        margin-right: 1.25rem;
    }
    #navbarSupportedContent.navbar-collapse.collapse {
        background: #fff;
        text-align: center;
        margin-top: 10px;
        border-top: 1px solid rgba(0, 0, 0, 0.10);
    }
    .navbar-nav.mr-auto li, .navbar-nav.ml-auto li{background: #fff}
    .dropdown-menu.dropdown-menu-right.show {
        border: 0;
        text-align: center;
        margin-top:0; 
    }
    .dropdown-menu.dropdown-menu-right.show a{padding: 0;}
    .newPeople-form {
        padding: 0.75rem 15px 0;
    }
    #padding-rem {
        padding: 0;
    }
    .todolist-actionsBtn {
        clear: both;
        margin-top: 15px;
        display: inline-block;
        width:100%;
    }
    .middle-arg {
        padding-left: 0px;
        padding-right:0px;
    }
    .navbar-toggler-icon {
        width: 22px;
        height: 22px;
    }
    .navbar-toggler {
        padding: 5px 10px;
    }
    .options-secD {
        margin: 10px 0 0 0;
    }
    .tab-content .tab-pane .row {
        margin: 0;
    }
    .iconsDeledit {
        right: 30px;
        width: auto;
    }
}
@media(max-width:600px){
    .todos.remaining li {
        width: 100%;
        padding-right: 0;
    }
}
@media(max-width:575px){
    .todos-form__details label {
        text-align: left;
        padding-left: 1rem;
    }
    .todos-form__header {
        padding: 0.75rem 15px 0;
    }
    .todos-form__details{
        padding: 0 15px;
    }
    .newList-form {
        /*padding: 0.75rem 15px 0;*/
    }
    .comment-nameHead {
        margin-left: auto;
        margin-right: auto;
        z-index: 1;
        position: relative;
    }
    .comment-sec {
        padding: 1.2em 1.2em;
        top: 0;
    }
    .task_disply_form_only {
        padding: 0 15px;
    }
    .col-form-label.text-right.font-weight-bold {
        text-align: left !important;
    }
    .comment-sec .thread-comment-options {
        top: 20px;
    }
    .icon-style i.fa.fa-angle-left {
        margin-left: 0;
    }
    .icon-style.edit_task_icon.pull-right {
        margin-right: 0;
    }
    .task_disply_form_only {
        padding: 15px 15px;
    }
    .col-form-label.text-right.font-weight-bold {
        font-size: 15px;
    }
}
@media(max-width:520px){
    .comment-subscriptions {
        padding-left: 0;
        margin: 4rem 0rem 0 0;
        padding-right: 0;
    }
    .client-visibility-flag--for-index {
        display: inline-block;
    }
    .options-details .optionsSec-header h3 a.taskHeading {font-size: 22px;}
}
@media(max-width:480px){
    .todos.remaining li {
        width: 100%;
    }
    .checkbox .cr, .radio .cr {
        margin-top: 0;
    }
}
@media(max-width:460px){
    
}
@media(max-width:395px){
    .iconsDeledit {
        right: 10px;
        width: 100%;
    }
    .comment-nameHead.text-center.folder_color {
        margin-top: 0;
    }
}
@media(max-width:375px){
    .todo .checkbox__content.unassigned {
        margin-left: 0;
    }
    .options-secD .indent .checkbox__content a {
        padding-left: 0;
    }
    .submit.push_half--ends .btn {
        margin: 10px 0;
    }
    .options-secD .indent .checkbox__content a {
        padding-right: 3px;
    }
}
